/* Will be compiled down to a single stylesheet with your sass files */


input[type=checkbox] ~ div.hide_if_no {display:none}
input[type=checkbox]:checked ~ div.hide_if_no {display:block}

.cardtabfade {
    width: auto;
    height: 100%;
    object-fit: cover;
}


.card-styling{
  margin-bottom: 10px;
}

.card-svg{
  float: left;
  padding-right: 5px;
  padding-top: 2px;
}

.card-date{
  float:right;
  padding-left: 5px;

}

.card-btn{
  color: black;
  position: absolute;
  bottom: 0;
  margin-bottom: 20px;
}

.nav-ads{
  color: black;
}

.header-ads{
  margin-top: 5px;
  margin-left: 5px;
  float: left;
}

.col-ads{
  border-right: 1px solid black;
}

.image-ads{
  float: right;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 10px;
  height: auto;
  max-width: 260px;
  display: block;
}
.content-tab-fade{
  position: absolute;
  max-width: 700px;
}


.column {
  float: left;
  width: 25%;
  padding: 0 20px;
}


.social-media a{
  color: #5c5b5b;
}


.social-media a:hover{
	color: black;
}


.footer-svg{
	height: 50px;
	width: 50px;
	margin-left: 5px;
	margin-right: 5px;
}

.hover-pop {
	transition: transform 250ms ease-in-out;
}

.hover-pop:hover {
	transform: scale(1.15);
}

.container-fluid {
	position: relative;
	max-width:1000px;
	margin: 0 auto;

}

.img-sizer{
	width: 100%;
	height: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

.bedrift-hsp{
  height: 150px;
  width: auto;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.bedrift-sp{
  width: 60%;
  height: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

.bedrift-op{
  width: 220px;
  height: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}

.bedrift-center{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  align-self: center;
  text-align: center;

}


.list-color{
	color: black;
}

.bd-banner{
  margin-top: 30px;
  margin-bottom: 30px;
  max-height: 130px;
}

.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}

.mts-banner{
	height: 180px;
	width: auto;
	position: relative;
}

.navbar-color{
	background-color: #f5f5f5;
}

.carousel-img{
	width: auto;
	height: 560px;
 	max-height:560px;
}

.footer-wrapper {

position: relative;

height: 50px;

}
#storlogo{
	max-width:100%;
	position:relative;
	float:left;
	padding-top:10px;
	font-family: "Myriad Pro";
	font-weight: 100;

	color: rgb(70, 159, 247);
	}
.logo {
	margin-top:20px;
}
.top-logo {
	margin-bottom:20px;
	font-size: 80px;
	line-height: 40px;
	width: 100px;
	height: auto;
}

.bottom-logo {
	font-size:36px;
	margin-bottom:20px;
	float:left;
}

.symbol{
	float:left;
}
.tekst {
	font-family: "Myriad Pro","Helvetica";
	font-size: 20px;
	line-height: 20px;
	font-style: italic;
	color: rgb(72, 166, 197);
	min-width:300px;
}

.logo > .dnh-logo{
	position: relative;
	margin-top: 3px;
	margin-right: 10px;
	text-align:left;
	float:right;
	max-width:500px;
	padding-top:33px;

}

#members tr td {
  width:20%;
  vertical-align: middle;
  text-align: center;
  padding:0px;
  padding-top:10px;
  padding-bottom:10px;
}


     /* Large desktop */
    @media (min-width: 1200px) { ... }

    /* Portrait tablet to landscape and desktop */
    @media (min-width: 768px) and (max-width: 979px) { ... }

    /* Landscape phone to portrait tablet */
    @media (max-width: 767px) { ... }

    /* Landscape phones and down */
    @media (max-width: 480px) {
.logo > .dnh-logo{
	padding-top:0px;
	padding-bottom:10px;
	padding-left:25px;
 }

.top-logo {
	margin-bottom:10px;
	width: 100px;
	line-height: 35px;
	height: auto;

}
.bottom-logo {
	font-size:25px;
	margin-bottom:20px;
	float:left;
}
}



/* CUSTOM */
/* FONTS */
@font-face {
  font-family: 'proximanova-light-webfont';
  src: url("../font/proximanova-light-webfont.eot");
  src: url("../font/proximanova-light-webfont.eot?#iefix") format("embedded-opentype"), url("../font/proximanova-light-webfont.woff") format("woff"), url("../font/proximanova-light-webfont.ttf") format("truetype"), url("../font/proximanova-light-webfont.svg#proximanova-light-webfont") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'proximanova-regular-webfont';
  src: url("../font/proximanova-regular-webfont.eot");
  src: url("../font/proximanova-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../font/proximanova-regular-webfont.woff") format("woff"), url("../font/proximanova-regular-webfont.ttf") format("truetype"), url("../font/proximanova-regular-webfont.svg#proximanova-regular-webfont") format("svg");
  font-weight: normal; }

@font-face {
  font-family: 'proximanova-bold-webfont';
  src: url("../font/proximanova-bold-webfont.eot");
  src: url("../font/proximanova-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../font/proximanova-bold-webfont.woff") format("woff"), url("../font/proximanova-bold-webfont.ttf") format("truetype"), url("../font/proximanova-bold-webfont.svg#proximanova-bold-webfont") format("svg");
  font-weight: normal; }

@font-face {
  font-family: 'diskus';
  src: url("../font/diskus.eot");
  src: url("../font/diskus.eot?#iefix") format("embedded-opentype"), url("../font/diskus.woff") format("woff"), url("../font/diskus.ttf") format("truetype"), url("../font/diskus.svg#diskus") format("svg");
  font-weight: normal; }

body {
  background-color: #fff;
  font-family: "proximanova-regular-webfont", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0px;
  padding: 0px;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

b, strong {
  color: #333;
  font-family: helvetica, sans-serif; }

.light {
  font-family: "proximanova-light-webfont", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.blue {
  color: #2E3182; }

a.blue {
  color: #2E3182; }

a:hover {
  text-decoration: none; }

.push{
  margin-top: auto;
}

      /* Wrapper for page content to push down footer */
      #wrap {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        /* Negative indent footer by it's height */
        margin: 0 auto -380px;
      }

      /* Set the fixed height of the footer here */
      #push,
      #footer {
        min-height: 200px;
      }

      #footer {
        background-color: #f5f5f5;
      }

      /* Lastly, apply responsive CSS fixes as necessary */
      @media (max-width: 767px) {
        #footer {
          margin-left: -20px;
          margin-right: -20px;
          padding-left: 20px;
          padding-right: 20px;
        }
      }



      /* Custom page CSS
      -------------------------------------------------- */
      /* Not required for template or sticky footer method. */

      .container {
        max-width: 1000px;
      }
      .container .credit {
        margin: 20px 0;
      }









	  .nav > .disabled > a {
  color: #999999; }

.nav > .disabled > a:hover {
  text-decoration: none;
  background-color: transparent;
  cursor: default; }

.navbar {
  overflow: visible;
  margin-bottom: 0px;
  color: #555555;
  *position: relative;
  *z-index: 2; }

.covid-19 {
  margin-bottom: 30px;
  background-color: #EBF15F;
 }

.navbar-inner {
  min-height: 35px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #16a2d8;
  background-image: -moz-linear-gradient(top, #1e2e70, #19265c);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#1e2e70), to(#19265c));
  background-image: -webkit-linear-gradient(top, #1e2e70, #19265c);
  background-image: -o-linear-gradient(top, #1e2e70, #19265c);
  background-image: linear-gradient(to bottom, #16a2d8, #1879bd);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#1d2c6c', endColorstr = '#182458', GradientType = 0);
  border: 0px solid #0c122c;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065); }

.navbar .container {
  width: auto; }

.nav-collapse.collapse {
  height: auto; }

.navbar .brand {
  float: left;
  display: block;
  padding: 7.5px 20px 7.5px;
  margin-left: -20px;
  font-size: 20px;
  font-weight: 200;
  color: #eeeeee;
  text-shadow: 0 1px 0 #1e2e70; }
  .navbar .brand:hover {
    text-decoration: none; }

.navbar-text {
  margin-bottom: 0;
  line-height: 35px; }

.navbar-link {
  color: #eeeeee; }
  .navbar-link:hover {
    color: white; }

.navbar .divider-vertical {
  height: 35px;
  margin: 0 0px;
  border-left: 1px solid #19265c;
  border-right: 1px solid #263572; }

.navbar .btn,
.navbar .btn-group {
  margin-top: 3.5px; }

.navbar .btn-group .btn {
  margin: 0; }

.navbar-form {
  margin-bottom: 0;
  *zoom: 1; }
  .navbar-form:before, .navbar-form:after {
    display: table;
    content: "";
    line-height: 0; }
  .navbar-form:after {
    clear: both; }
  .navbar-form input,
  .navbar-form select,
  .navbar-form .radio,
  .navbar-form .checkbox {
    margin-top: 2.5px; }
  .navbar-form input,
  .navbar-form select,
  .navbar-form .btn {
    display: inline-block;
    margin-bottom: 0; }
  .navbar-form input[type="image"],
  .navbar-form input[type="checkbox"],
  .navbar-form input[type="radio"] {
    margin-top: 3px; }
  .navbar-form .input-append,
  .navbar-form .input-prepend {
    margin-top: 6px;
    white-space: nowrap; }
    .navbar-form .input-append input,
    .navbar-form .input-prepend input {
      margin-top: 0; }

.navbar-search {
  position: relative;
  float: left;
  margin-top: 2.5px;
  margin-bottom: 0; }
  .navbar-search .search-query {
    margin-bottom: 0;
    padding: 4px 14px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 1;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px; }

.navbar-static-top {
  position: static;
  width: 100%;
  margin-bottom: 0; }
  .navbar-static-top .navbar-inner {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0; }

.navbar-fixed-top,
.navbar-fixed-bottom {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
  margin-bottom: 0; }

.navbar-fixed-top .navbar-inner,
.navbar-fixed-bottom .navbar-inner,
.navbar-static-top .navbar-inner {
  border: 0; }

.navbar-fixed-top .navbar-inner,
.navbar-fixed-bottom .navbar-inner {
  padding-left: 0;
  padding-right: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0; }

.navbar-static-top .container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container {
  width: 940px; }

.navbar-fixed-top {
  top: 0; }

.navbar-fixed-top .navbar-inner,
.navbar-static-top .navbar-inner {
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1), 0 1px 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1), 0 1px 10px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1), 0 1px 10px rgba(0, 0, 0, 0.1); }

.navbar-fixed-bottom {
  bottom: 0; }
  .navbar-fixed-bottom .navbar-inner {
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1), 0 1px 10px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1), 0 1px 10px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1), 0 1px 10px rgba(0, 0, 0, 0.1); }

.navbar .nav {
  position: relative;
  left: 0;
  display: block;
  float: left;
  margin: 0 10px 0 0; }

.navbar .nav.pull-right {
  float: right; }

.navbar .nav > li {
  float: left; }

.navbar .nav > li > a {
  float: none;
  padding: 7.5px 13px 7.5px;
  color: #eeeeee;
  text-decoration: none;
  text-shadow: 0 1px 0 #333333; }

.navbar .nav .dropdown-toggle .caret {
  margin-top: 8px; }

.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
  background-color: transparent;
  color: white;
  text-decoration: none;
  color: white;
  text-decoration: none;
  background-color: #152150;
  -webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
  -moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125); }

.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  color: white;
  text-decoration: none;
  background-color: #15385f;
  -webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
  -moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125); }

.navbar .btn-navbar {
  display: none;
  float: right;
  padding: 7px 10px;
  margin-left: 5px;
  margin-right: 5px;
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #162254;
  background-image: -moz-linear-gradient(top, #19265c, #131d47);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#19265c), to(#131d47));
  background-image: -webkit-linear-gradient(top, #19265c, #131d47);
  background-image: -o-linear-gradient(top, #19265c, #131d47);
  background-image: linear-gradient(to bottom, #19265c, #131d47);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#182458', endColorstr = '#121b43', GradientType = 0);
  border-color: #131d47 #131d47 #03040a;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #131d47;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075); }
  .navbar .btn-navbar:hover, .navbar .btn-navbar:active, .navbar .btn-navbar.active, .navbar .btn-navbar.disabled, .navbar .btn-navbar[disabled] {
    color: white;
    background-color: #131d47;
    *background-color: #0e1533; }
  .navbar .btn-navbar:active, .navbar .btn-navbar.active {
    background-color: #080d1f \9; }

.navbar .btn-navbar .icon-bar {
  display: block;
  width: 18px;
  height: 2px;
  background-color: #f5f5f5;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25); }

.btn-navbar .icon-bar + .icon-bar {
  margin-top: 3px; }

.navbar .nav > li > .dropdown-menu:before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #cccccc;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: -7px;
  left: 9px; }
.navbar .nav > li > .dropdown-menu:after {
  content: '';
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid white;
  position: absolute;
  top: -6px;
  left: 10px; }

.navbar-fixed-bottom .dropdown-menu:before {
  border-top: 7px solid #cccccc;
  border-top-color: rgba(0, 0, 0, 0.2);
  border-bottom: 0;
  bottom: -7px;
  top: auto; }
.navbar-fixed-bottom .dropdown-menu:after {
  border-top: 6px solid white;
  border-bottom: 0;
  bottom: -6px;
  top: auto; }

.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
  background-color: #152150;
  color: white; }

.navbar .nav li.dropdown > .dropdown-toggle .caret {
  border-top-color: #eeeeee;
  border-bottom-color: #eeeeee; }

.navbar .nav li.dropdown.open > .dropdown-toggle .caret,
.navbar .nav li.dropdown.active > .dropdown-toggle .caret,
.navbar .nav li.dropdown.open.active > .dropdown-toggle .caret {
  border-top-color: white;
  border-bottom-color: white; }

.navbar .pull-right > li > .dropdown-menu,
.navbar .nav > li > .dropdown-menu.pull-right {
  left: auto;
  right: 0; }
  .navbar .pull-right > li > .dropdown-menu:before,
  .navbar .nav > li > .dropdown-menu.pull-right:before {
    left: auto;
    right: 12px; }
  .navbar .pull-right > li > .dropdown-menu:after,
  .navbar .nav > li > .dropdown-menu.pull-right:after {
    left: auto;
    right: 13px; }
  .navbar .pull-right > li > .dropdown-menu .dropdown-menu,
  .navbar .nav > li > .dropdown-menu.pull-right .dropdown-menu {
    left: auto;
    right: 100%;
    margin-left: 0;
    margin-right: -1px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px; }

.navbar-inverse {
  color: #999999; }
  .navbar-inverse .navbar-inner {
    background-color: #862121;
    background-image: -moz-linear-gradient(top, #7e0c0c, #944646);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#7e0c0c), to(#944646));
    background-image: -webkit-linear-gradient(top, #7e0c0c, #944646);
    background-image: -o-linear-gradient(top, #7e0c0c, #944646);
    background-image: linear-gradient(to bottom, #7e0c0c, #944646);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#790c0c', endColorstr = '#914444', GradientType = 0);
    border-color: #252525; }
  .navbar-inverse .brand,
  .navbar-inverse .nav > li > a {
    color: #999999;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); }
    .navbar-inverse .brand:hover,
    .navbar-inverse .nav > li > a:hover {
      color: white; }
  .navbar-inverse .nav > li > a:focus,
  .navbar-inverse .nav > li > a:hover {
    background-color: transparent;
    color: white; }
  .navbar-inverse .nav .active > a,
  .navbar-inverse .nav .active > a:hover,
  .navbar-inverse .nav .active > a:focus {
    color: white;
    background-color: #944646; }
  .navbar-inverse .navbar-link {
    color: #999999; }
    .navbar-inverse .navbar-link:hover {
      color: white; }
  .navbar-inverse .divider-vertical {
    border-left-color: #944646;
    border-right-color: #7e0c0c; }
  .navbar-inverse .nav li.dropdown.open > .dropdown-toggle,
  .navbar-inverse .nav li.dropdown.active > .dropdown-toggle,
  .navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle {
    background-color: #944646;
    color: white; }
  .navbar-inverse .nav li.dropdown > .dropdown-toggle .caret {
    border-top-color: #999999;
    border-bottom-color: #999999; }
  .navbar-inverse .nav li.dropdown.open > .dropdown-toggle .caret,
  .navbar-inverse .nav li.dropdown.active > .dropdown-toggle .caret,
  .navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle .caret {
    border-top-color: white;
    border-bottom-color: white; }
  .navbar-inverse .navbar-search .search-query {
    color: white;
    background-color: #ca8f8f;
    border-color: #944646;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.15);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.15);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.15);
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none; }
    .navbar-inverse .navbar-search .search-query:-moz-placeholder {
      color: #cccccc; }
    .navbar-inverse .navbar-search .search-query:-ms-input-placeholder {
      color: #cccccc; }
    .navbar-inverse .navbar-search .search-query::-webkit-input-placeholder {
      color: #cccccc; }
    .navbar-inverse .navbar-search .search-query:focus, .navbar-inverse .navbar-search .search-query.focused {
      padding: 5px 15px;
      color: #333333;
      text-shadow: 0 1px 0 white;
      background-color: white;
      border: 0;
      -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
      -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
      outline: 0; }
  .navbar-inverse .btn-navbar {
    color: white;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #711d1d;
    background-image: -moz-linear-gradient(top, #670a0a, #833e3e);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#670a0a), to(#833e3e));
    background-image: -webkit-linear-gradient(top, #670a0a, #833e3e);
    background-image: -o-linear-gradient(top, #670a0a, #833e3e);
    background-image: linear-gradient(to bottom, #670a0a, #833e3e);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#620909', endColorstr = '#7f3c3c', GradientType = 0);
    border-color: #833e3e #833e3e #4f2525;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    *background-color: #833e3e;
    /* Darken IE7 buttons by default so they stand out more given they won't have borders */
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false); }
    .navbar-inverse .btn-navbar:hover, .navbar-inverse .btn-navbar:active, .navbar-inverse .btn-navbar.active, .navbar-inverse .btn-navbar.disabled, .navbar-inverse .btn-navbar[disabled] {
      color: white;
      background-color: #833e3e;
      *background-color: #713636; }
    .navbar-inverse .btn-navbar:active, .navbar-inverse .btn-navbar.active {
      background-color: #602d2d \9; }

	  /*MAX WIDTH*/

#sliderTxtHead {
	font-size:40px;
	line-height:40px;
	bottom:30px;
	}
#sliderTxt{
	font-size:20px;
	line-height:20px;
	}

@media (max-width: 480px) {


#sliderTxt {
	display:none;

	}
	#sliderTxtHead {
	font-size:20px;
	position:absolute;
	top:0px;
	line-height:20px;
	}
}

.footer-image {
  padding:20px;
  max-height: 150px;
  max-width: 150px;
  width: auto;
  height: auto;
}

